.login
{
    background-color: #efefef;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
.sign-up
{
    display: flex;
    flex-direction: row;
    align-items: center;
  	width:60%;
    height: 300px;
    margin-left: 20%;
    margin-right: 20%;
    /* border: solid black 1px; */
}
.sign-up div
{
    height: 300px;
    border:  black 1px;
    margin-top: 50%;
}
.blank-space
{
    width: 55%;
    background:#2e3235;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
.welcome
{
    background-color: #ffffff;
    width: 45%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.welcome2
{
    margin: 0 auto !important;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-top: 8%;
    padding-right: 10%;
    border-style: none;
    height: 200px; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;   
}
.form-margin
{
margin-top: 10px !important;
}
.btnprop
{
    background-color:#2e3235 !important;
    font-size:1.1rem !important;
}