<div class="login">
    <div class="sign-up">
        <div class="blank-space">

        </div>
        <div class="welcome">
         <div class="welcome2">
         <h2>Welcome</h2>
         <input type="text" class="form-control form-margin" placeholder="Enter User ID" required>
         <input type="password" class="form-control form-margin" placeholder="Password" required>
         <button class="form-margin btnprop btn btn-secondary btn-lg btn-block ">LOGIN</button>
         </div>
        </div>
    </div>   
</div>